html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 85em;
}

body {
  min-height: 100vh;
}

header {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  order: 1;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.search-bar input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.search-bar .searchButton {
  padding: 5px 10px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 0px;
  font-size: 16px;
}

.login-register {
  order: 3;
}

.login-register a {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.logout {
  order: 3;
}

header a {
  color: #0074CC;
  text-decoration: none;
  transition: color 0.3s ease;
}

header a:hover {
  color: #4ca2ff;
}

header h3 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  order: 0;
}

header h3 a {
  color: #333;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
}

header h3 a:hover {
  color: #333;
}

#searchOptions {
  order: 1;
  display: flex;

  width: 690px;

  background-color: #f2f2f2;
  border-color: gray;
  border-radius: 5px;

  padding: 10px;
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#searchOptions > div {
  flex: 1;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

#searchOptions > .searchOptionsSection > select {
  width: 150px;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  margin: 5px;
}

#searchOptions > .searchOptionsSection > label{
  font-size: 16px;
  margin: 5px;
}

main {
  flex: 1;

  background-color: #7f0000;
  /* height: 70%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  padding: 10px;
}

#messages {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

#messages span {
  font-size: 14px;
  grid-column: 1 / -1;
}

#messages .taken {
  color: #7f0000;
}

#messages .available {
  color: #0077ff;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

footer {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
  color: #666;
  font-size: 16px;
  border-top: 1px solid #ccc;
}

#ticket-form-link {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 20px 12px 20px;
  background-color: #2d3e50;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 50%;
}

#ticket-form-link:hover {
  background-color: #34495e;
}

#faq-form-link {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 20px 12px 20px;
  background-color: #2d3e50;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 50%;
}

#faq-form-link:hover {
  background-color: #34495e;
}

.recent-tickets {
  background-color: white;;
  border-radius: 4px;
  padding: 20px;
  width: 50%;
  height: 80%;
  overflow: auto;
}

.recent-tickets ul {
  padding-left: 20px;
  padding-right: 20px;
}

.recent-tickets h2 {
  font-size: 24px;
  margin: 20px;
  text-align: center;
}

.ticket-list li {
  list-style-type: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.ticket-list li h4 {
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

.ticket-list a {
  color: #0074CC;
  text-decoration: none;
  transition: color 0.3s ease;
}

.ticket-list a:hover {
  color: #4ca2ff;
}

.ticket-list li p {
  color: #666;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 14px;
}

.ticket-list li .ticket-date {
  color: #999;
  font-size: 12px;
}