header {
    text-align: left;
    /*background-color: #FFE4CF; */
    height: 200px;
    /*padding: 5px 5px; */
}

#feup_logo { /*Define a posição do logo da FEUP*/
    float: right;
    width: 300px;
    height: 125px;
}

header > #registry_section {
    text-align: right;
    position: absolute;
    top: 120px;
    right: 30px;
}

.tab {
    overflow: hidden;
    background-color: #FF9E52;
    border-top-left-radius: 4px; /*Arredonda os cantos*/
    border-top-right-radius: 4px; 
}

.tab button {
    font-size: 16;
    background-color: inherit;
    float: left;
    border: none;
    outline: #B85100;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #FF7E18;
}

.tab button.active {
    background-color: #DB6100;
}

.tabsection {
    display: none;
    padding: 6px 12px;
    border: 1px solid #B85100;
    border-top: none;
    background-color: #FFE4CF;
}

main #searchOptions {  
    padding: 10px;
    text-align: left;
}

#ticketSearchBar {
    border-radius: 4px;
    float: right;
}

#searchButton {
    border-radius: 4px;
    float: right;
}

.ticket {
    border: 1px solid #B85100;
    border-radius: 6px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin: 10px;
    background-color: #FFFFFF;
    text-align: left;
}

.ticket:hover {
    background-color: #FFE4CF;
    cursor: pointer;
}

.ticket h1 {
    font-size: 20px;
    font-weight: bold;
}

.ticket h2 {
    font-size: 16px;
    font-weight: bold;
}

.ticket h3 {
    font-size: 14px;
}